<p>Add new song</p>
<form #songForm (ngSubmit)="addSongHandler(titleInput.value, artistInput.value, albumInput.value, genreInput.value, +yearInput.value)">
  <div class="song-form-group">
  <input
  name="title"
  type="text"
  #titleInput
  placeholder="song title"
  required
  />
</div>
<div class="song-form-group">
  <input
  name="artist"
  type="text"
  #artistInput
  placeholder="song artist"
  required
  />
</div>
<div class="song-form-group">
  <input
  name="album"
  type="text"
  #albumInput
  placeholder="song album"
  required
  />
</div>
<div class="song-form-group">
  <input
  name="genre"
  type="text"
  #genreInput
  placeholder="song genre"
  required
  />
</div>
<div class="song-form-group">
  <input
  name="year"
  type="number"
  #yearInput
  placeholder="song year"
  required
  />
</div>

<button class="button-add" type="submit">add song</button>
<button class="button-clear" type="button" (click)="resetSongFormHandler()">reset</button>
</form>
